@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade|Mr+De+Haviland|Raleway|Roboto');



header {
    height:360px;
    z-index:10;
}
nav {
    width:100%;
    height:60px;
    background: #504132;
    postion:fixed;
    z-index:10;
}
.fixed-header {
    position: fixed;
    top:0; left:0;
    width: 100%;
}



.header-banner {
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header.jpg);
    background-size: cover;
}

.title {
    font-family: 'Mr De Haviland', cursive;
    position: absolute;
    margin: 0 auto;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -150%);
    color: white;
    text-align: center;
    border: 3px solid white;
    padding: 0 100px;
    font-size: 40px;

}

@media screen and (max-width: 1186px) {
    .title{
        padding: 0 10px;
    }

}

@media screen and (max-width: 826px) {
    .title{
        font-size: 25px;
        top: 250px;
    }

}

@media screen and (max-width: 558px) {
    .title {
        font-size: 25px;
        top: 300px;
    }

}

@media screen and (max-width: 1305px) {
    .title .arabic{
        font-size: 30px;
        padding: 0 0;
        top: 300px;
    }

}




nav ul {

    list-style-type: none;
    margin: 0 auto;
    padding-left:0;
    text-align:left;
    width: 960px;
    max-width: 100%;
}
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
}
nav ul li a {
    color: #a9abae;
    text-decoration: none;
}









.content {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.content{
    width: 960px; max-width: 100%;
    margin:0 auto;
}




/* resets
body { margin:0px; padding:0px; }*/


/*ZAKIR*/



.arabic {
    font-family: 'Amiri', serif;
    direction: rtl;
    display: none;
    text-align: right;
}

/* Body and Headings */

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-image: url(../images/bg.jpg);
    background-color: #e7ddd5;
    background-size: 100%;

}

.outerbody p, h1, h2, h3 {
    margin: 10px 10px 10px 20px;
}

.outerbody {
    padding-bottom: 100px;
    padding-top: 20px;
}

.innerbody {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    background: #bca087;
    padding-top: 10px;
    padding-bottom: 50px;
}

@media screen and (max-width: 700px) {
    .outerbody{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-bottom: 0px;

    }

}

.centrebody {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%
}



h1 {
    font-size: 2em;

}

h2 {
    font-size: 1.2em;

}

p {
    font-size: 1.1em;
}


footer {
    background: #504132;
    padding: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: auto;
    color: #e3c086;
    /* margin: 0 auto; */
    text-align: center;
}

button {
    background: #f2f2f2;
    border: 1px solid #999;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
}


/*** FLEX BOX ***/

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    flex: 1 0 15em;
    margin: 1em;
}

img {
    display: block;
    width: 100%;
}

/** All visual pleasing **/

.gallery {
    margin: 1em 0;
    padding: 1em;
}

.item {
    min-width: 7em;
    min-height: 7em;
}
/* Accordion Sections */

button.accordion {
    background-color: #6b513b;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    margin:0 auto;
}

button.accordion.active,
button.accordion:hover {
    background-color: #b29073;
}

button.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0px 18px;
    background-color: #d0bcab;
    max-height: 0;
    overflow: scroll;
    transition: max-height 0.2s ease-out;
}




/***** ZAKIR NAV *****/

/* NAV BAR

.navmenu {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #504132;
}*/


.navmenu li,
.navmenu a {
    height: 50px;
    line-height: 50px;
    color: #e3c086;
}

.home {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

.home a,
.home a:visited {
    color: #e3c086;
}

.home a:hover,
.home a:target {
    color: #ffffff;
}

.home-items {

    margin: 0 auto;
    display: inline-block;
}

.home-items li {
    display: inline-block;
    margin: 0 10px;
}

.home-items a {
    text-decoration: none;
}

.visible,
.hide {
    display: none;
    padding-left: 15px;
    background: transparent no-repeat center left;
    color: #dde1e2;
}

/*.visible {
    background-image: url(assets/down-arrow-icon.png);
}

.hide {
    background-image: url(assets/up-arrow-icon.png);
}*/

@media only screen and (max-width: 700px) {
    .home {
        position: relative;
        width: 100%;
    }

    .home-items {
        text-align: center;
        display: none;
        width: 100%;
        left: 0;
        margin-top: 50px;
        background-color: #706558;
    }

    .home-items .arabic {
        text-align: center;
    }

    .home-items li {
        display: block;
    }

    .visible,
    .hide {
        position: absolute;
        top: 25px;
        right: 15px;
    }

    .visible {
        display: inline-block;
    }

    .hide {
        display: none;
    }

    #home:target .visible {
        display: none;
    }

    #home:target .hide,
    #home:target .home-items {
        display: inline-block;
    }}


/*** MODAL ****/

/* The Modal (background) */
.modal, .modal1, .modal2, .modal3, .modal4, .modal5, .modal6, .modal7, .modal8, .modal9, .modal10, .modal11, .modal12  {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #d6d9dc;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close, .close1, .close2, .close3, .close4, .close5, .close6, .close7, .close8, .close9, .close10, .close11, .close12 {
    color: lightblue;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close1:hover, .close2:hover, .close3:hover, .close4:hover, .close5:hover, .close6:hover, .close7:hover,
.close8:hover, .close9:hover, .close10:hover, .close11:hover, .close12:hover,
.close:focus, .close1:focus, .close2:focus, .close3:focus, .close4:focus, .close5:focus, .close6:focus, .close7:focus,
.close8:focus, .close9:focus, .close10:focus, .close11:focus, .close12:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    margin-bottom:10px;
    padding: 2px 16px;
    background-color: #324150;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    margin-top: 10px;
    padding: 2px 16px;
    background-color: #324150;
    color: white;
}




table {
    margin: 0 auto;
    width:100%;
}

table .arabic {
    text-align: right;
    float: right;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
     padding: 5px;
     text-align: left;
 }


table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color:#fff;
}
table th {
    width: 40%;
    background-color: #5a6672;
    color: white;
}


/*** SOCIAL FOOTER ***/



.social div {
    display: inline-block;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

/* Icons */

.social a {
    color:#fff;
    background: #cfac77;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    font-family:fontawesome;
    position: relative;
    display: inline-block;
    width:40px;
    height:28px;
    padding-top:12px;
    margin:10px 2px;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
}

.social a:hover {
    background: #766145;
}


/* font awesome icons */

.social a:nth-of-type(1):before {
    content:'\f09a';
}
.social a:nth-of-type(2):before {
    content:'\f099';
}
.social a:nth-of-type(3):before {
    content:'\f0d5';
}
.social a:nth-of-type(4):before {
    content:'\f113';
}
.social a:nth-of-type(5):before {
    content:'\f17d';
}
.social a:nth-of-type(6):before {
    content:'\f1cb';
}

/*** TO TOP BUTTON ***/

myBtn {
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

myBtn:hover {
    background-color: #555;
}

/** CONTACT US FORM **/

.container {
    max-width:800px;
    width:100%;
    margin:0 auto;
    position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
    background:#F9F9F9;
    padding:50px;
    margin:50px 0;
}

#contact h3 {
    color: #504132;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin:5px 0 15px;
    display:block;
    font-size:13px;
}

fieldset {
    border: medium none !important;
    margin: 0 10px 10px 0;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

#contact textarea {
    height:100px;
    max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background: #766145;
    color:white;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
}

#contact button[type="submit"]:hover {
    background: #9b7e63;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
    outline:0;
    border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

/*** GALLERY ***/
.gallery{
    margin: 0;
    padding: 0;
    height: 100%;
}

[class*='thumbnail-']{
    background: #000;
    width: 33.33%;
    height: auto;
    float: left;
    padding: 5px 5px 3px 5px;
    cursor: zoom-in;
}

[class*='thumbnail-'] img{
    max-width: 100%;
}

[class*='large-']{
    background: #000;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    display: none;
}

[class*='large-'] img{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.prev{
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 45%;
    left: 10px;
    float: left;
}

.next{
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 45%;
    right: 10px;
    float: right;
}

.close{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    float: right;
    cursor: zoom-out;
}

[class*='thumbnail-']{
    overflow: hidden;
    padding: 0;
    position: relative;
    cursor: zoom-in;
}

[class*='thumbnail-']:hover img{
    transition: .3s linear;
    transition-delay: 300ms;
    transform: /* rotate(5deg) */ scale(1.4);
}

[class*='thumbnail-'] > .caption{
    display: none;
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    background-color: black;
    color: white;
    opacity: 0.8;
}

[class*='thumbnail-']:hover > .caption{
    display: block;

}

@media screen and (max-width:480px){
    .caption h3{
        font-size: 12px;
    }
}