    @import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
    .arabic {
        font-family: 'Amiri', serif;
    }
    /* Body and Headings */
    
    body {
        margin: auto;
        font-family: Verdana, Geneva, sans-serif;
        /*direction: rtl; /*Text direction right to left*/
    }
    
    h1 {}
    
    h2 {}
    
    p {}
    /* Navigation Bar */
    
    ul.nav {
        list-style-type: none;
        margin: 0 0 0 0;
        padding: 0;
        overflow: hidden;
        background-color: #C1DFC1;
        /* position: fixed; */
        top: 0;
        width: 100%;
    }
    
    ul.nav li {
        float: left;
    }
    
    ul.nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
    }
    
    ul.nav li a:hover {
        background-color: #111;
    }
    
    ul.nav li a.current {
        background-color: #ADC8AD;
    }
    
    ul.nav li.right {
        float: right;
    }
    /* Responsive Navigation Bar */
    
    @media screen and (max-width: 600px) {
        ul.nav li.right,
        ul.nav li {
            float: none;
        }
    }

    /* Language Toggle Switch */
    
    .langtoggle {
        position: relative;
        width: 78px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    
    .langtoggle-checkbox {
        display: none;
    }
    
    .langtoggle-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 25px;
    }
    
    .langtoggle-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    
    .langtoggle-inner:before,
    .langtoggle-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 34px;
        padding: 0;
        line-height: 34px;
        font-size: 22px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }
    
    .langtoggle-inner:before {
        content: "AR";
        padding-left: 10px;
        background-color: #2D8717;
        color: #FFFFFF;
    }
    
    .langtoggle-inner:after {
        content: "EN";
        padding-right: 10px;
        background-color: #0E9644;
        color: #FFFFFF;
        text-align: right;
    }
    
    .langtoggle-button {
        display: block;
        width: 23px;
        margin: 5.5px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 40px;
        border: 2px solid #999999;
        border-radius: 25px;
        transition: all 0.3s ease-in 0s;
    }
    
    .langtoggle-checkbox:checked+.langtoggle-label .langtoggle-inner {
        margin-left: 0;
    }
    
    .langtoggle-checkbox:checked+.langtoggle-label .langtoggle-button {
        right: 0px;
    }
